@model InventoryManagement.Models.VendorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VendorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo1" class="control-label"></label>
                <input asp-for="PhoneNo1" class="form-control" />
                <span asp-validation-for="PhoneNo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo2" class="control-label"></label>
                <input asp-for="PhoneNo2" class="form-control" />
                <span asp-validation-for="PhoneNo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAnNo" class="control-label"></label>
                <input asp-for="PAnNo" class="form-control" />
                <span asp-validation-for="PAnNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GstNo" class="control-label"></label>
                <input asp-for="GstNo" class="form-control" />
                <span asp-validation-for="GstNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportVendor" class="control-label"></label>
                <input asp-for="ReportVendor" class="form-control" />
                <span asp-validation-for="ReportVendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorType" class="control-label"></label>
                <input asp-for="VendorType" class="form-control" />
                <span asp-validation-for="VendorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
